<div class="card-header row m-0">
    <div class="col-3 d-flex justify-content-start align-items-start">
        <a class="d-flex flex-row gap-2 fs-4" routerLink="../"> 
            <!-- <fa-icon [icon]="FaGoBackIcon"> </fa-icon>  -->
            <span> Retour </span>
        </a>
    </div>
    
    <div class="col-6 d-flex flex-column justify-content-center align-items-center text-center my-4">

        <ng-container *ngFor="let title of this.titles">

            <span [class]="title.style"> {{ title.textContent }} </span>

            <span [class]="title.style + ' text-secondary'" 
            *ngIf="title.textContent == undefined"> {{ title.default }} </span>

        </ng-container>
    </div>
    
    <div class="col-3 d-flex justify-content-end align-items-end">
        <button class="btn btn-primary align-items-end fs-5"
        [disabled]="!this.isFormValid"
        (click)="this.onCreate.emit()"> Créer </button>
    </div>
</div>
