<div class="d-flex justify-content-center align-items-center">
    <div>
        <img class="img-fluid" src="/assets/croix_les_chevaliers_emeraude.png" alt="Croix">
    </div>

    <div class="fs-2 fst-italic">
        <p> Explorer les différents personnages, lieux et leurs relations entre eux. </p>
        <p> Ajouter, retirer ou modifier de l'information afin de rassembler de plus en plus de connaissances. </p>
        <p> Visualiser les relations plus ou moins complexes entre les différents éléments des différentes sagas. </p>
        <p> Représente les séries Les Chevaliers d'Émeraude, Les Héritiers d'Enkidiev et Les Chevaliers d'Antarès. </p>
    </div>
</div>
