<div class="d-flex justify-content-center w-100">
    <div class="d-flex flex-row gap-4 flex-wrap justify-content-center w-75">
        <span *ngFor="let card of this.cards">
    
            <div class="card" style="width: 25rem; min-height: 20rem;">                 
                <h2 class="card-header"> {{ card.name }} </h2>
                <div class="card-body d-flex flex-column justify-content-between">
                    <h5 class="card-text"> {{ card.content }} </h5>
                
                    <a class="btn btn-primary fs-5" style="width: min-content;"
                    (click)="this.goToCreateCharacterForm(card)"> Créer </a>
                </div>
            </div>
    
        </span>
    </div>
</div>
